<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <i class="fa-solid fa-suitcase-medical"></i> DWA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img  *ngIf="isShow" src="https://img.livraddict.com/covers/461/461861//couv65409771.jpg"/>
    <ion-button  (click)="start()">Say Hello</ion-button>
  </div>
</ion-content>
